---
import RootLayout from "@/layouts/root-layout.astro";
import { getPostMarkdown, getPublishedPosts } from "@/lib/notion";
import { getCoverImage } from "@/utils/get-cover-image";
import readingTime from "reading-time";
import { marked } from "marked";
import RemoteBlurImage from "@/components/remote-blur-image.astro";
import { format } from "date-fns";

export async function getStaticPaths() {
  const posts = await getPublishedPosts();

  return posts.map((post: any) => {
    const slug = post.properties.slug?.rich_text[0]?.plain_text || post.id;
    return {
      params: {
        slug,
      },
    };
  });
}

const { slug } = Astro.params;
const posts = await getPublishedPosts();

const post: any = posts.find((post: any) => {
  const postSlug = post.properties.slug?.rich_text[0]?.plain_text || post.id;
  return postSlug === slug;
});

const mdxContent = await getPostMarkdown(post.id);
const coverImage = getCoverImage(post);
const createdAt = post.created_time;

const readStats = readingTime(mdxContent.parent);
const readTime = readStats?.text;

const html = await marked.parse(mdxContent.parent);
---

<RootLayout>
  <div class:list={["text-foreground", coverImage ? "pt-50 md:pt-87.5" : ""]}>
    {
      coverImage && (
        <div class="absolute top-14 left-0 right-0 h-50 md:h-87.5">
          <RemoteBlurImage
            alt="Cover Image"
            width={1920}
            height={350}
            src={coverImage}
            class="w-full h-full object-cover"
          />
        </div>
      )
    }
    <div
      class="w-full max-w-none prose dark:prose-invert mx-auto text-foreground py-8"
    >
      <p class="flex justify-start text-sm">
        {format(new Date(createdAt), "MMMM d, yyyy")}{" "}
        {readTime && `• ${readTime}`}
      </p>
      <div class="" set:html={html} />
    </div>
  </div>
</RootLayout>
