---
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout>
  <div class="p-6 text-center">
    <h2 class="text-destructive text-xl font-bold">404 - Page Not Found</h2>
    <p class="text-muted-foreground mt-2">
      Sorry, the page you’re looking for doesn’t exist.
    </p>

    <div class="flex items-center justify-center mt-4 gap-4"></div>
  </div>
</RootLayout>
