---
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "../lib/utils";

const buttonVariants = cva(
  "inline-flex items-center justify-center font-medium transition cursor-pointer",
  {
    variants: {
      variant: {
        default:
          "bg-primary text-primary-foreground hover:bg-primary/90 active:scale-95",
        outline: "border",
      },
      size: {
        sm: "h-8 px-3",
        md: "h-9 px-4",
        icon: "size-9",
      },
    },
    defaultVariants: {
      variant: "default",
      size: "md",
    },
  },
);

type Props = {
  class?: string;
} & VariantProps<typeof buttonVariants> &
  astroHTML.JSX.ButtonHTMLAttributes;

const { variant, size, class: className, ...props } = Astro.props;
---

<button class={cn(buttonVariants({ variant, size }), className)} {...props}>
  <slot />
</button>
