---
import Navbar from "@/components/navbar.astro";
import { FALLBACK_DEFAULT_THEME } from "@/features/theme/consts";
import "../styles/global.css";

const { title = "Bobur" } = Astro.props;
---

<!doctype html>
<html lang="en" class={FALLBACK_DEFAULT_THEME} data-theme={FALLBACK_DEFAULT_THEME}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <script is:inline>
      const storageKey = "theme";
      const fallbackTheme = {JSON.stringify(FALLBACK_DEFAULT_THEME)};
      const root = document.documentElement;
      const storedTheme = window.localStorage.getItem(storageKey);
      const nextTheme = storedTheme || fallbackTheme;
      const previousTheme = root.dataset.theme;
      if (previousTheme) root.classList.remove(previousTheme);
      root.classList.add(nextTheme);
      root.dataset.theme = nextTheme;
    </script>
  </head>
  <body>
    <div
      class="min-h-dvh overflow-y-auto max-w-4xl mx-auto pt-14 px-2 md:px-4 lg:px-0"
    >
      <Navbar />

      <slot />
    </div>

    <div id="portal-root"></div>
  </body>
</html>
