---
import Navbar from "../components/navbar.astro";
import PixelCat from "../features/pixel-cat/ui/pixel-cat.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Muxammadbobur Komiljonov</title>
  </head>
  <body>
    <main
      class="min-h-dvh max-w-4xl mx-auto relative px-2 md:px-4 lg:px-0 pt-14"
    >
      <Navbar />
      <slot />
    </main>
    <PixelCat />
  </body>
</html>
